/venv/
/data/config_test.ini/
/.vs/
/output.txt/
/permissionLog.txt/
/test/
zoidbergbot/__pycache__/
/%SystemDrive%/
data/config.ini
output.txt
.idea
*.pyc
bans.csv
*.db
*.sqlite
.DS_Store
*.m4a
*.webm
cogs/lavalink/logs/spring.log
cogs/data/music_nodes.py
/gcloud.json
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
*.db-wal
*.db-shm
*.sqlite-shm
*.sqlite-wal
