discord.py
asyncio~=3.4.3
configparser~=5.2.0
SQLAlchemy
dislash.py==1.4.1
wavelink~=0.9.10
art
aiohttp~=3.7.4.post0
git+git://github.com/Rapptz/discord-ext-menus
humanize~=3.13.1
requests~=2.26.0
ujson~=5.1.0
pycountry~=20.7.3
six~=1.16.0
google-cloud-translate>=3.0.0
tortoise-orm
google-cloud-vision
azure-cognitiveservices-vision-contentmoderator
msrest~=0.6.21
asyncpg
imagehash
pillow~=8.4.0
requests_async
